
/*-------ACCOUNTINFO STARTS HERE -------*/

/* AccountInfo Container (default to float:right) */
#accountinfoContainer {
    position:relative;
    float:right;
    font-size:12px;
}

/* AccountInfo Button */
#accountinfoButton { 
    display:inline-block;
    float:right;
    background:#333333;
    border:1px solid #899caa; 
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
}

/* AccountInfo Button Text */
#accountinfoButton span {
    color:#ffffff; 
    font-size:12px; 
    padding:2px 12px 4px 10px;
    display:block
}

/* AccountInfo Box */
#accountinfoBox {
    position:absolute;
    top:24px;
    right:0;
    display:none;
    z-index:29;
}

/* If the AccountInfo Button has been clicked */    
#accountinfoButton.active {
    border-radius:3px 3px 0 0;
    border-bottom: none;
}

#accountinfoButton.active span {
    background-position:53px -76px;
}

/* A Line added to overlap the border */
#accountinfoButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}

/* AccountInfo Form */
#accountinfoForm {
    width:248px; 
    border:1px solid #899caa;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#333333;
    padding:6px;
}

#accountinfoForm div {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

div#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

